

.name {
	color: black;
	font-size: 3em;
	font-family: 'Dancing Script', cursive;
}

h4 {
	color: black;
}

.jumbotron {
	
	background: #1D976C; /* fallback for old browsers */
	background: -webkit-linear-gradient(#1D976C , #93F9B9); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient( #1D976C , #93F9B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center; 
}

body {
	background-color: black;
	font-family: 'Muli', sans-serif;
}

p {
	color: #888;
}

.thumbnail {
	background-color: black;
	padding: 10px;
	margin: 20px 5px;
}

.title {
	text-align: center;
	border-bottom: 1px solid #888;
	padding-bottom: 5px;
}
.boxes {
	padding: 0;
}