

.name {
	color: black;
	font-size: 5em;
	font-family: 'Dancing Script', cursive;
}

h4 {
	color: black;
}

.jumbotron {
	
	background: #1D976C; /* fallback for old browsers */
	background: -webkit-linear-gradient(#1D976C , #93F9B9); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient( #1D976C , #93F9B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center; 
}

body {
	background-color: black;
	font-family: 'Muli', sans-serif;
}

p {
	color: #888;
	font-size: 1.5em;
}

.thumbnail {
	background-color: black;
	padding: 10px;
	margin: 20px 5px;
}

.title {
	text-align: center;
	border-bottom: 1px solid #888;
	padding-bottom: 5px;
}
.boxes {
	padding: 0;
}
.contact {
	text-align: center;
	border: 1px solid #888;
	padding-left: 30px;
	

}

.contact h2 {
	text-decoration: underline;
	padding-bottom: 5px;
}

.contact a {
	color: #66e0ff;
	text-decoration: none;
}

.hire {
	margin: 0;
	padding-left: 40px;
}

@media(min-width: 800px) {
	.name {
		font-size: 8em;
	}
}

@media(max-width: 2em){
	.name {
		font-size: 2.5em;
	}
}